body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="checkbox"] {
  display: block;
  appearance:none;

  outline: 1px solid #000;
  width: 15px;
  height: 15px;
  border-width: 1px;
}


input[type="checkbox"]:checked{
  display: block;
  
  
  width: 15px;
  height: 15px;
  border-width: 1px;
  appearance:none;
  background-color: #aaa;
  outline: 1px solid #000;
 
}